name: First Pipeline

on: [push]

jobs:
  run-code:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Run Python script
        run: python app.py
